h1 {
	overflow: hidden;
	width: 580px;
	margin: 20px auto;

	img {
		width: 70px;
		display: block;
		float: left;
		margin-right: 20px;
	}
	span {
		font-size: 60px;
		font-weight: normal;
		display: block;
		margin-top: 15px;
	}
}

form {
	width: 632px;
	display: block;
	margin: 20px auto;

	input {
		font-size: 24px !important;
		height: 14px !important;
		padding: 14px !important;
		width: 500px !important;
	}
}

.innerCenter {
	text-align: center;
	margin-bottom: 20px;

	#elink {	
		display: inline-block;
		width: auto;
		padding: 20px;
		font-size: 28px;
		color: #fff;
		font-weight: normal;
		text-decoration: none;
	}
}

td:nth-child(1) {
	font-weight: bold;
}

td:nth-child(2) {
	a {
		font-weight: bold;
	}
}

td:nth-child(3) {
	a {
		color: #444 !important;
		text-overflow: ellipsis;
		width: 600px;
		overflow:hidden;
	}
}

.header {
	background: #eee;
	overflow: hidden;
	border-top: 3px solid #aaa;
}